$color-primary: #067f81;
$color-secondary: #e5eff1;
$color-bg-grey: #eeeeee;
$color-text: #212121;
$color-text-light: #757575;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #fafafa;
$color-pink: #ce395f;
