@use '../abstracts' as *;

.view-student {
	@include flex;
	align-items: flex-start;

	.graph {
		flex: 1;
		background-color: $color-bg-grey;
		min-height: calc(100vh - 80px);
		overflow-y: scroll;
		padding: 30px 15px 0;

		.header {
			@include flex;
			background-color: $color-white;
			height: 40px;
			padding: 0 10%;

			button {
				width: 35px;
			}

			img {
				width: 100%;
			}

			p {
				font-weight: 600;
				font-size: 1.2rem;
			}
		}

		.date-wrapper {
			background-color: $color-primary;
			padding: 10px 25%;

			.MuiFormControl-root {
				width: 100%;

				input {
					color: $color-white;
					font-weight: 500;
				}

				fieldset {
					border: none;
					outline: none;
				}
			}
		}
	}
}
