@use '../abstracts' as *;

.view-student {
	@include flex;
	align-items: flex-start;

	.routes {
		flex: 1;
		background-color: $color-bg-grey;
		min-height: calc(100vh - 80px);
		overflow-y: scroll;
		padding-top: 30px;
	}
}
