@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  --primary: #067f81;
  --gray: #fafafa;
}
a {
  text-decoration: none;
}
.urbanist {
  font-family: "Urbanist", sans-serif;
}
.bg-primary {
  background-color: var(--primary);
}
.container {
  padding-left: 5%;
  padding-right: 5%;
}
.containerv {
  padding-top: 3%;
}
.app {
  background-color: var(--gray);
}
.card {
  background-color: white;
}
.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.routes,
.c404 {
  width: 100vw;
  height: calc(100vh - 80px);
  overflow-y: auto;
}
.c404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c404 h2 {
  font-size: 3em;
  opacity: 0.2;
}
