.view_student {
  display: flex;
}
.v_s_404 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v_s_404 h2 {
  opacity: 0.3;
}
.s_info {
  width: 40%;
  min-height: calc(100vh - 80px);
}
.s_routes,
.s_vitals {
  width: 30%;
  min-height: calc(100vh - 80px);
}
.p_p_info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.p_p_info h3 {
  font-size: 1.3em;
  color: #3d3d3d;
}
.p_p_info span {
  font-size: 0.8em;
  color: #757575;
  font-weight: 600;
}
.p_p_info table tr td {
  color: #212121;
  font-size: 0.8em;
  font-weight: 600;
  padding-right: 10px;
}
.vif {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.vif .h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vif .h span {
  font-size: 0.8em;
  color: #757575;
  font-weight: 600;
}
.vif .h h2,
.vif .h h2 span {
  color: #3d3d3d;
  font-weight: 800;
}
.vif .h h2 {
  font-size: 3em;
}
.vif .h h2 span {
  font-size: 0.7em;
}
.img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img img {
  z-index: 2;
}
.img::before {
  content: "";
  width: 80%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid #067f81;
  z-index: 1;
  left: -5%;
}
.img::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid #067f8130;
  z-index: 1;
  left: -13%;
  bottom: -6%;
}
.map {
  font-size: 0.6em;
  font-weight: 700;
  color: #212121;
  margin-top: 40px;
}
@media (max-width: 880) {
  .app {
    background-color: red;
  }
}
